langchain>=0.1.20
langchain-core>=0.1.36
langchain-community>=0.0.33
#llama-cpp-python==0.2.64      pip install llama-cpp-python --prefer-binary

pydantic>=2.6
tqdm>=4.66.2
streamlit>=1.34.0
python-dotenv>=1.0.1
langchain-huggingface
unstructured
pdfminer.six
faiss-cpu
sentence-transformers
llama-cpp-python #pip install llama-cpp-python --prefer-binary --index-url=https://pypi.org/simple/
